@charset "utf-8";
/* CSS Document */

* {
	font-family: "Josefin Sans", "sans-serif";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 1200px;
    margin: 0 auto;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	display: inline-block;
}

header {
	width: 100%;
	background-color: rgba(166,255,131,0.70);
}

.header-div {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	position: relative;
}

.header-div img {
	width: 200px;
	transition: all .3s ease-out;
}

.header-div img:hover {
	filter: brightness(90%) grayscale(30%);
	transform: scale(0.9);
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu a {
	color: #003309;
	padding: 15px;
	font-size: 20px;
	transition: border-bottom .3s ease;
	font-weight: 700;
}

.nav-menu a:hover {
	border-bottom: 3px solid #1DB34A;
	color: #000000;
}

.sticky-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(166,255,131,0.80);
	z-index: 10;
}

.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/leaf-hero.jpg");
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 50vh;
	margin-top: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hero h1 {
	text-transform: uppercase;
	z-index: 2;
	font-size: 50px;
	color: #fff;
	letter-spacing: 2px;
}

.hero h1 span {
	color:#1DB34A;
}

.about {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #003309;
	margin-top: 15vh;
	position: relative;
	padding: 20px;
}

.about h2 {
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.about h2 span {
	color: #1DB34A;
}

.about p {
	font-size: 25px;
	text-align: center;
	padding: 10px;
}

.about a {
	color: #64FF3B;
	transition: all .3s ease;
}

.about a:hover {
	color: #1DB34A;
}

.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: 15vh;
	width: 100%;
	color: #003309;
}

.services .line {
	border-top: 2px solid #003309;
	width: 90%;
	margin-bottom: 60px;
}

.services h2 {
	font-size: 35px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.services .offers {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.services .offers .offer {
	width: 30%;
	display: flex;
	flex-direction: column;
	color: #003309;
    height: 80%;
    overflow: hidden;
}

.services .offers .offer h3 {
	margin: 10px;
    margin-top: 30px;
	text-align: center;
	font-size: 25px;
	color: #1DB34A;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.services .offers .offer p {
	color: #003309;
	font-size: 18px;
	text-align: center;
	margin: 10px 0;
}

.services .offers .offer img {
	width: 100%;
	transition: all .3s ease-in-out;
	overflow: hidden;
	filter: brightness(120%);
	margin-bottom: 10px;
}

.services .offers .offer img:hover {
	transform: scale(1.1);
}

.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	margin-top: 15vh;
	overflow: hidden;
}

.gallery h2 {
	font-size: 35px;
	margin-bottom: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.gallery .line {
	border-top: 2px solid #003309;
	width: 90%;
	margin-bottom: 60px;
}

.gallery .leaves-gallery {
	display: flex;
	justify-content: center;
	width: 80%;
    height: 80vh;
}

.gallery img {
	width: 100%;
    padding: 5px 0;
	transition: all .3s ease;
	filter: brightness(110%);
}

.gallery img:hover {
	transform: scale(1.2);
}

.gallery .leaves-left {
	display: flex;
	flex-direction: column;
	max-width: 34%;
	overflow: hidden;
}

.gallery .leaves-left img:first-child {
	height: 40%;
}

.gallery .leaves-left img:last-child {
	height: 60%;
}


.gallery .leaves-center {
	display: flex;
	flex-direction: column;
	max-width: 33%;
	overflow: hidden;
}

.gallery .leaves-center img:first-child {
	height: 50%;
}

.gallery .leaves-center img:last-child {
	height: 50%;
}

.gallery .leaves-right {
	display: flex;
	flex-direction: column;
	max-width: 33%;
	overflow: hidden;
}

.gallery .leaves-right img:first-child {
	height: 60%;
}

.gallery .leaves-right img:last-child {
	height: 40%;
}

.contact {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: 15vh;
	flex-direction: column;
}

.contact .line {
	border-top: 2px solid #003309;
	width: 90%;
	margin-bottom: 60px;
}

.contact h2 {
	font-size: 35px;
	margin-bottom: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.contact-container {
	display: flex;
	padding: 15px;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(29,179,74,0.18);
}

.contact-left {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-left h3 {
	font-size: 25px;
	color: #003309;
	padding-bottom: 20px;
}

.contact-left p {
	font-size: 18px;
	color: #003309;
	padding-bottom: 20px;
}

.contact-left input, textarea {
	display: inline-block;
	padding: 10px 0;
	margin: 10px 0;
	width: 100%;
	border: 2px solid transparent;
}

.contact-left input::placeholder, textarea::placeholder {
    text-transform: uppercase;
}

.contact-left input:focus, textarea:focus {
	border: 2px solid rgba(0,51,9,1.00);
}

.contact-left textarea {
	height: 100px;
	resize: none;
}

.contact-left button {
    font-size: 25px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #003309;
    transition: all .3s ease-out;
}

.contact-left button:hover {
    background-color: #003309;
    color: rgba(29,179,74,1);
}

.contact-right {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-right h4 {
	font-size: 20px;
	margin: 15px 0;
	color: #003309;
    text-transform: uppercase;
}

.contact-right p {
	font-size: 18px;
	color: #003309;
	padding-bottom: 20px;
    text-transform: uppercase;
}

footer {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 20px;
    font-size: 16px;
}





